<div class="exchange_box">
    <div class="card">
        <div class="text-center">
            <h1 class="card-description">Easily convert your money.
                <br>For any currency in the world!
            </h1>
        </div>
        <div class="card-block">
            <%= form_tag("/exchange", method: "post", id: "exchange_form") do %>
                <div class="local_currency">
                    <div class="form-group">
                        <p class="title">Local Currency</p>
                        <%= select_tag "currency", options_for_select(currency_select, "BRL"), class:"form-control", id: "currency" %>
                    </div>
                </div>

                <div class="destination_currency">
                    <div class="form-group">

                        <div>
                            <div>
                            <p class="title">Desired Currency<button name="switch"type="button" id="switch" class="btn btn-primary col-md-12 btn-exchange">

                        
                            <%= icon 'fas',"arrows-alt-v",'Switch'%>
                    
                    </button>
                        </div></p>
                            </div>
                             
                        <%= select_tag "currency_destination", options_for_select(currency_select, "EUR"), class: "form-control", id: "currency_destination"%>
                    </div>
                    <div class="divider text-center">
                        <span class="divider-text "> Amount($) </span>
                    </div>
                     <div class="form-group">
                        <input type="number" name="quantity" id="quantity" class="form-control"  step="any" required>
                    </div>
                    <div class="divider text-center">
                        <span class="divider-text "> Result </span>
                    </div>
                    <div class="form-group">
                        <input type="text" id="result" name="result" class="form-control"  readonly>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="text-center">
            <a href="https://github.com/Wypr"> <%=icon 'fab','github',class:'fa-2x center-block'%></a>
        </div>
    </div>
</div>
