<!DOCTYPE html>
<html>
  <head>
    <title>Currency Exchange</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon2.png',alt:'Designed By goodware std from www.flaticon.com under https://creativecommons.org/licenses/by/3.0/ Modified: modification of the original'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <%= yield %>
  </body>
</html>
